@font-face {
    font-family: "android";
    src: url("../font/idroid.otf") format("opentype");
    font-weight: normal;
}

:root{
    --fonte-destaque: 'android', sans-serif;
    --fonte-padrao: 'Roboto', sans-serif;
    --fundo-1:#ACFFD2;
    --fundo-2:#001F0E;
    --titulo-1-padrao:#333333;
    --titulo-1-destaque:#00451F;
    --titulo-2-destaque:#00632D;
    --titulo-3-destaque:#2DC170;
    --texto-1:#4C4C4C;
    --texto-2:#808080;
    --texto-3:#4EE894;
    --texto-4:#3DDA84;
    --icone:#1C9E57;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.lista{
    list-style: none;
}

.fonte-grande{
    font-family: var(--fonte-padrao);
    font-size: 3rem;
    line-height: 1.25;
    font-weight: 700;
}

.fonte-media{
    font-family: var(--fonte-padrao);
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
}

.fonte-grande-destaque{
    font-family: var(--fonte-destaque);
    font-size: 2.375rem;
    line-height: 1.2;
}

.fonte-media-destaque{
    font-family: var(--fonte-destaque);
    font-size: 2.625rem;
    line-height: 1.3;
}

.cor-texto-1{
    color: var(--texto-1);
}

.cor-texto-2{
    color: var(--texto-2);
}

.cor-texto-3{
    color: var(--texto-3);
}

.cor-texto-4{
    color: var(--texto-4);
}

.cor-titulo-1-padrao{
    color: var(--titulo-1-padrao);
}

.cor-titulo-1-destaque{
    color: var(--titulo-1-destaque-destaque);
}

.cor-titulo-2-destaque{
    color: var(--titulo-2-destaque);
}

.bg-1{
    background-color: var(--fundo-1);
}

.bg-2{
    background-color: var(--fundo-2);
}

.mt-120{
    margin-top: 120px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-80{
    margin-bottom: 80px;
}

.mb-120{
    margin-bottom: 120px;
}