.div-header-menu{
    padding: 10px 40px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.lista-menu{
    gap: 35px;
    flex-wrap: wrap;
}

.lista-item a{
    color: var(--texto-4);
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    text-transform: capitalize;
    font: 400 1.125rem/1.3 var(--fonte-padrao);
}

.lista-item a:hover{
    color: var(--texto-3);
}

.div-header{
    grid-template-columns: auto 1fr;
    align-items: center;
    height: 100vh;
    gap: 75px;
}

.div-header h1{
    max-width: 13ch;
    margin-left: 40px;
}

.div-header p{
    margin-left: 40px;
    max-width: 30ch;
}

.img-android{
    height: 100%;
}

.img-android img{
    height: 100%;
    object-fit: cover;
    object-position: right;
}

@media(max-width: 1050px){
    .div-header{
        gap: 40px;
    }
    .div-header h1{
        max-width: 12ch;
    }

    .div-header p{
        max-width: 25ch;
    }
}

@media(max-width: 970px){
    .div-header h1{
        font-size: 2.375rem;
    }

    .div-header p{
        font-size: 1.125rem;
    }
}

@media(max-width: 900px){
    .lista-menu{
        gap: 20px;
    }

    .lista-item a{
        font-size: 1rem;
    }

    .div-header{
        gap: 20px;
    }

    .div-header h1{
        font-size: 1.875rem;
    }

    .div-header p{
        font-size: 1rem;
    }
}

@media(max-width: 820px){
    .div-header-menu{
        padding: 10px 20px;
    }

    .lista-menu{
        gap: 10px;
    }

    .div-header{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
  
    .div-header h1{
        max-width: initial;
        margin: 40px auto;
        font-size: 3rem;
    }

    .div-header p{
        max-width: 40ch;
        text-align: center;
        margin: 0 auto;
        font-size: 1.125rem;
    }
}

@media(max-width: 700px){
    .logo{
        width: 50px;
        height: auto;
    }

    .lista-item a{
        font-size: 0.875rem;
    }

    .div-header h1{
        font-size: 2.375rem;
        margin: 20px auto;
    }

    .div-header p{
        font-size: 1rem;
    }
}

@media(max-width: 600px){
    .div-header-menu{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px 0;
        position: initial;
    }

    .logo{
        width: initial;
    }

    .lista-item a{
        font-size: 1rem;
    }

    .div-header{
        height: initial;
    }

    .div-header h1{
        font-size: 1.875rem;
    }

    .div-header p{
        max-width: 26ch;
    }

    .div-header img{
        display: none;
    }
}

@media(max-width: 400px){
    .div-header-menu{
        gap: 20px;
    }

    .logo{
        width: 50px;
    }

    .lista-menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 40px;
        justify-items: center;
    }

    .div-header{
        gap: 0;
    }

    .div-header h1{
        font-size: 1.5rem;
        margin: 0;
        padding: 20px;
    }

    .div-header p{
        max-width: initial;
        text-align: left;
        font-size: 0.875rem;
        padding: 0 20px 20px ;
    }
}