.div-video{
    margin-bottom: 120px;
}

.video{
    display: block;
    margin: 0 auto;
    width: 900px;
    height: 655px;
}

@media(max-width: 900px){
    .div-video{
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .video{
        padding: 0 20px;
        width: 655px;
        height: 410px;
    }
}

@media(max-width: 700px){
    .div-video{
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .video{
        padding: 0 20px;
        width: 555px;
        height: 310px;
    }
}

@media(max-width: 600px){
    .video{
        padding: 0 20px;
        width: 400px;
        height: 300px;
    }
}

@media(max-width: 400px){
    .div-video{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .video{
        padding: 0 20px;
        width: 300px;
        height: 200px;
    }
}